/* Estilos para el contenedor principal */
#product-list {
  width: 65%;
  float: left;
}

#form-container {
  width: 35%;
  float: right;
}

/* Estilos para la tabla de productos */
.table-light {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-light th,
.table-light td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

.table-light th {
  background-color: #f0f0f0;
}

/* Estilos para el formulario */
#form-products {
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
}

/* Estilos para los campos de entrada en el formulario */
input[type="text"],
input[type="number"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 16px;
}

/* Estilos para el botón de envío en el formulario */
.button-submit {
  padding: 12px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

/* Estilos para la imagen de producto en la tabla */
img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}