<div>
<h1>Perfil de usuario</h1>
</div>

<hr />
<div>
<p>Nombre completo: {{user.fullname}}</p>
<p>Email: {{user.email}}</p>
<p>Edad: {{user.age}}</p>
<p>Rol: {{user.roll}}</p>
</div>

<hr />
<a href="http://localhost:8080/users/forgot-password">Cambiar contraseña</a>
<a href="http://localhost:8080/users/logout">Cerrar sesión</a>

<hr />
<a href="http://localhost:8080/products">Ver productos</a>