<div>
    <h1>Reestablecer contraseña</h1>
    <form action="/users/reset-password-done" method="POST">
        <input type="hidden" name="token" value="{{token}}">
        <input type="hidden" name="email" value="{{email}}">
        <label for="newPassword">Nueva contraseña:</label>
        <input type="password" id="newPassword" name="newPassword" required>
        <br>
        <input type="submit" value="Reestablecer">
    </form>
</div>