<div>
    <h1>Detalle del carrito de compras</h1>

    {{#each cart}}
      <h3 class='productTitle'>{{this.product.title}}</h3>
      <ul class='infoList'>
        <li class='productId'>id: <span>{{this._id}}</span></li>
        <li class='orderQuantity'>Quantity: <span>{{this.quantity}}</span></li>
        <li class='productPrice'>price: <span>{{this.product.price}}$</span></li>
      </ul>
    {{/each}}
</div>
